In [10]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

In [11]:
data = pd.read_csv('titanic_toy.csv')

In [4]:
data.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [5]:
data.shape

(891, 4)

In [9]:
data.isnull().mean()*100

Age         19.865320
Fare         5.050505
Family       0.000000
Survived     0.000000
dtype: float64

In [12]:
imputer = SimpleImputer(strategy='constant',fill_value=99)

In [14]:
data['Age'] = imputer.fit(data[['Age']])
data['Fare'] = imputer.fit(data[['Fare']])

In [15]:
data.isnull().sum()

Age         0
Fare        0
Family      0
Survived    0
dtype: int64