# binarization is used to convert continuous values into binary form i.e 0,1

In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import Binarizer

In [3]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [4]:
df.dropna(inplace=True)

In [5]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [6]:
df['family'] = df['SibSp'] + df['Parch']

In [7]:
df.head()

    Age     Fare  SibSp  Parch  Survived  family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [8]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [9]:
df.head()

    Age     Fare  Survived  family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [10]:
binarizer = Binarizer(copy=False)

family_binarizer = binarizer.fit_transform(df[['family']])

In [11]:
df = df.drop(columns=['family'])

In [12]:
df['family'] = family_binarizer

In [13]:
df.head()

    Age     Fare  Survived  family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [14]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10)

In [17]:
model = DecisionTreeClassifier()

model.fit(x_train,y_train)

y_pred = model.predict(x_test)

In [21]:
print("accuracy_score = ",accuracy_score(y_test,y_pred))
print("\ncross_val_score = ",np.mean(cross_val_score(model,x,y,cv=10,scoring='accuracy')))

accuracy_score =  0.6503496503496503

cross_val_score =  0.6276017214397496