In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv('train_data.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [8]:
data.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [9]:
data.isnull().sum()

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64

In [10]:
data['FireplaceQu'].unique()

array([nan, 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [11]:
data['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [12]:
data['FireplaceQu'].mode()

0    Gd
Name: FireplaceQu, dtype: object

In [13]:
data['GarageQual'].unique()

array(['TA', 'Fa', 'Gd', nan, 'Ex', 'Po'], dtype=object)

In [14]:
data['GarageQual'].value_counts()

TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: GarageQual, dtype: int64

In [15]:
data['GarageQual'].mode()

0    TA
Name: GarageQual, dtype: object

In [18]:
data.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [22]:
x = data.drop(columns=['SalePrice'])
y = data['SalePrice']

In [23]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10)

In [25]:
x_train.head()

     FireplaceQu GarageQual
1216         NaN         TA
339          NaN         TA
1057          Gd         TA
482           Gd         Fa
529           TA         TA

In [26]:
imputer = SimpleImputer(strategy='most_frequent')

In [27]:
x_train = imputer.fit_transform(x_train)
x_test = imputer.fit_transform(x_test)

In [29]:
imputer.statistics_

array(['Gd', 'TA'], dtype=object)