In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [3]:
data = pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [4]:
data.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [5]:
data.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [6]:
x = data.drop(columns=['Survived'])
y = data['Survived']

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10)

In [8]:
si = SimpleImputer(add_indicator=True)
x_train = si.fit_transform(x_train)
x_test = si.transform(x_test)

In [9]:
x_train

array([[ 28.5       ,   7.2292    ,   0.        ],
       [ 27.        ,  10.5       ,   0.        ],
       [ 29.66854419,  16.1       ,   1.        ],
       ...,
       [ 29.66854419, 221.7792    ,   1.        ],
       [ 12.        ,  11.2417    ,   0.        ],
       [ 36.        ,  10.5       ,   0.        ]])

In [10]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

lr.fit(x_train,y_train)

y_pred = lr.predict(x_test)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.7486033519553073