# OrdinalEncoder() is used when input feature is ordinal categorical
# LabelEncoder() is used only when target feature is categorical

In [29]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('customer.csv')

In [3]:
data.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [4]:
# we select only review,education, purchased columns

In [5]:
df = data.iloc[:,2:]

In [6]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [8]:
#seperate dependant and independant variable

In [15]:
x = df.drop('purchased',axis=1)
y = df['purchased']

In [7]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10)

In [17]:
x_train

     review education
39     Poor        PG
2      Good        PG
40     Good    School
32  Average        UG
10     Good        UG
21  Average        PG
35     Poor    School
27     Poor        PG
18     Good    School
31     Poor    School
1      Poor        UG
12     Poor    School
34  Average    School
45     Poor        PG
26     Poor        PG
5   Average    School
13  Average    School
22     Poor        PG
19     Poor        PG
17     Poor        UG
14     Poor        PG
4   Average        UG
41     Good        PG
33     Good        PG
24  Average        PG
11     Good        UG
38     Good    School
16     Poor        UG
48     Good        UG
46     Poor        PG
49     Good        UG
8   Average        UG
43     Poor        PG
29  Average        UG
25     Good    School
28     Poor    School
0   Average    School
15     Poor        UG
36     Good        UG
9      Good        UG

In [18]:
y_train

39     No
2      No
40     No
32    Yes
10    Yes
21     No
35    Yes
27     No
18     No
31    Yes
1      No
12     No
34     No
45    Yes
26     No
5     Yes
13     No
22    Yes
19    Yes
17    Yes
14    Yes
4      No
41    Yes
33    Yes
24    Yes
11    Yes
38     No
16    Yes
48    Yes
46     No
49     No
8      No
43     No
29    Yes
25     No
28     No
0      No
15     No
36    Yes
9     Yes
Name: purchased, dtype: object

In [19]:
x_test

     review education
37  Average        PG
23     Good    School
44  Average        UG
42     Good        PG
47     Good        PG
20  Average    School
3      Good        PG
30  Average        UG
7      Poor    School
6      Good    School

In [20]:
y_test

37    Yes
23     No
44     No
42    Yes
47    Yes
20    Yes
3      No
30     No
7     Yes
6      No
Name: purchased, dtype: object

In [22]:
x_train['review'].unique()

array(['Poor', 'Good', 'Average'], dtype=object)

In [23]:
x_train['education'].unique()

array(['PG', 'School', 'UG'], dtype=object)

In [25]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [26]:
x_train = oe. transform(x_train)

In [27]:
x_train

array([[0., 2.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [2., 1.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [2., 2.],
       [1., 2.],
       [2., 1.],
       [2., 0.],
       [0., 1.],
       [2., 1.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [2., 1.],
       [2., 1.]])

In [28]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le = LabelEncoder()

In [33]:
le.fit(y_train)

LabelEncoder()

In [34]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [36]:
y_train

array([0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1])